.nav{
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 1.5rem;
  }
  .nav-button{
    width: 95%;
    margin: 7px;
    background-color: #fff;
    color: #000000;
    margin-bottom: 7px;
    font-size: 1rem;
    padding: 10px;
  }
  .heading{
    color: #fff;
  }
  .headlink{
    text-decoration: none;
  }