.nav{
    background-color: #000000;
    display: flex;
    flex-wrap: nowrap;
    direction: rtl;
    align-items: flex-end;
    color: black;
    
  }
  .nav-button{
    width: 95%;
    margin: 7px;
    background-color: #fff;
    color: #000000;
    margin-bottom: 7px;
  }