.header {
  background: url(./a.jpg);
  background-size: cover;
  background-position: 50% 30%;
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.visafull{
  background-image: url(./visareg.jpg);
}
.headvisa{
  color: black;
  text-align: center;
  margin-bottom: 10px;
}
.head {
  background: url(./visa.jpg);
  background-size: cover;
  background-position: 50% 40%;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
h1 {
  color: #ffffff;
}
.mainform1 {
  width: 60%;
  margin: auto;
  opacity: 0.9;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  line-height: 30px;
  border-radius: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.fully{
  background-image: url(./passport.webp);
  background-repeat: no-repeat;
  background-size:cover;
}
.headpass{
  text-align: center;
  margin-bottom: 10px;
  color: darkslategrey;
}
